<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Project </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    tr,td{
      padding: 10px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://www.python.org" target="_blank">Python</a></li>
          <li><a href="https://www.php.net/" target="_blank ">php</a></li>
          <li><a href="https://www.java.com/en/" target="_blank ">java</a></li>
        </ul>
      </li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if request.session.email %}
        <li><a href="{% url 'change-password' %}"><span class="glyphicon glyphicon-edit"></span>Change-Password</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout( {{request.session.fname}})</a></li>
        <li> <a href="{% url 'profile'%}"> <img src="{{request.session.profile_pic}}" height="50px" width="50px"> </a> </li>
      

    {% else %}
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

    {% endif %}
     
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Yash</h3>
  <p>My New Website</p>
</div>

</body>
</html>


{% block content %}
{% endblock %}

</body>
</html>