{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center>
<h1>SignUp
</h1>
	{% if msg %}
		<b style="color: blue;">{{msg}}</b>
	{% endif %}

	<form method="post" action="{% url 'signup' %}" enctype="multipart/form-data" >
		{% csrf_token %}
		<table>
			<tr>
				<td>First Name</td>
				<td > <input type="text" name="fname">  </td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td > <input type="text" name="lname">  </td>
			</tr>
			<tr>
				<td>Email</td>
				<td > <input type="text" name="email">  </td>
			</tr>
			<tr>
				<td>Mobile</td>
				<td > <input type="number" name="mobile">  </td>
			</tr>
			<tr>
				<td>Address</td>
				<td > <textarea cols="22" rows="5" name="address" > </textarea>  </td>
			</tr>
			<tr>
				<td> Gender</td>
				<td>
					<input type="radio" name="gender" value="male">Male
					<input type="radio" name="gender" value="female">Female
					<input type="radio" name="gender" value="other">Other
				</td>
			</tr>
			<tr>
				<td>Profile Pic</td>
				<td> <input type="file" name="profile_pic"> </td>
			</tr>
			<tr>
				<td>Password</td>
				<td > <input type="password" name="password">  </td>
			</tr>
			<tr>
				<td>Confram Password</td>
				<td > <input type="password" name="cpassword">  </td>
			</tr>
			<tr>
				<td colspan="2" align="center" >
					<input type="submit" name="action" value="SIGN UP" class=" btn btn-primary">
				</td>
			</tr>
		</table>
	</form>
</center>
</body>
</html>
{% endblock %}